body {
  font-family: Roboto;
  padding-top: 65px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div.sp {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

div.sp img {
  max-height: 400px;
  width: auto;
}
